<div class="container text-center">
  <!-- Navegação das abas -->
  <ul class="nav nav-pills justify-content-center pt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="parcela-tab" data-bs-toggle="tab" data-bs-target="#parcela" type="button"
        role="tab" aria-controls="parcela" aria-selected="true">
        Pela Prestação
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button class="nav-link" id="renda-tab" data-bs-toggle="tab" data-bs-target="#renda" type="button"
        role="tab" aria-controls="renda" aria-selected="true">
        Pela Renda
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="imovel-tab" data-bs-toggle="tab" data-bs-target="#imovel" type="button" role="tab"
        aria-controls="imovel" aria-selected="false">
        Pelo Valor do Imóvel + Renda
      </button>
    </li>
  </ul>

  <!-- Conteúdo das abas -->
  <div class="tab-content p-3" id="myTabContent">
    <div class="tab-pane fade show active" id="parcela" role="tabpanel" aria-labelledby="parcela-tab">
      <app-calculadora-poder-compra-form tipo="prestacao"></app-calculadora-poder-compra-form>
    </div>
    <div class="tab-pane fade" id="renda" role="tabpanel" aria-labelledby="renda-tab">
      <app-calculadora-poder-compra-form tipo="renda"></app-calculadora-poder-compra-form>
    </div>
    <div class="tab-pane fade" id="imovel" role="tabpanel" aria-labelledby="imovel-tab">
      <app-calculadora-poder-compra-form tipo="imovel"></app-calculadora-poder-compra-form>
    </div>
  </div>
</div>